<h1>Details of the restaurant</h1>>

<%= @restaurant.address %>
<%= @restaurant.phone_number %>
<%= @restaurant.category %>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>
<br>


<%= link_to "Back to list", restaurants_path%>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
